Game/Source/Packages/
Game/Backup/
Game/Plugins/*
!Game/Plugins/GamePlugin.core.dll
!Game/Plugins/GamePlugin.core.pdb
!Game/Plugins/GamePlugin.core.xml
!Game/Plugins/EditorPlugin.editor.dll
!Game/Plugins/EditorPlugin.editor.pdb
!Game/Plugins/EditorPlugin.editor.xml
Game/NVorbis.dll
Game/OpenTK.GLControl.dll
Game/OpenTK.GLControl.xml
Game/OpenTK.dll
Game/OpenTK.dll.config
Game/OpenTK.pdb
Game/OpenTK.xml
Game/FarseerDuality.xml
Game/FarseerDuality.pdb
Game/Microsoft.Web.XmlTransform.dll
Game/NVorbis.XML
Game/FarseerDuality.dll
Game/EditorUserData.xml
Game/PopupControl.dll
Game/PopupControl.pdb
Game/DualityUpdater.exe
Game/DualityPrimitives.pdb
Game/WeifenLuo.WinFormsUI.Docking.dll
Game/WeifenLuo.WinFormsUI.Docking.pdb
Game/logfile.txt
Game/logfile_editor.txt
Game/logfile_editor_prev.txt
Game/perflog.txt
Game/Aga.Controls.dll
Game/Aga.Controls.pdb
Game/Duality.pdb
Game/Duality.xml
Game/AdamsLair.WinForms.pdb
Game/AdamsLair.WinForms.xml
Game/perflog_editor.txt
Game/DDoc.chm
Game/DesignTimeData.dat
Game/DualityEditor.pdb
Game/DualityEditor.xml
Game/DualityLauncher.exe
Game/DualityLauncher.exe.config
Game/DualityLauncher.pdb
Game/DualityPrimitives.XML
Game/AdamsLair.WinForms.dll
Game/Source/Code/CorePlugin/bin/
Game/Source/Code/CorePlugin/obj/
Game/Source/Code/CorePlugin/GamePlugin.core.xml
Game/Source/Code/EditorPlugin/bin/
Game/Source/Code/EditorPlugin/obj/
Game/Source/Code/EditorPlugin/GamePlugin.core.xml
Game/Source/Code/ProjectPlugins.v12.suo